body::before {
  content: "";
  position: fixed;
  background: #040404 url("../img/bg2.jpg") top right no-repeat;
  opacity: .25;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}
.navbar-nav>li>a {
  font-size: 20px;
  padding-top: 20px;
}

.navbar-toggle {
  position: relative;
  padding: 16px 13px;
}
@media (max-width: 450px) {
  .cba-logo {
    width: 316px;
  }
}