/*
Check out "bootstrap.css" for the following requirements:
- Pseudo-element selector (line 2585)
- Pseudo-class selector (line 48-49)
- Box Model (.container, all col- types)
*/
/*Combinators*/
.navbar-nav>li>a {
  font-size: 20px;
  padding-top: 20px;
}
/*Class  selector*/
.navbar-toggle {
  position: relative;
  padding: 16px 13px;
}
/*Responsive*/
@media (max-width: 450px) {
  .cba-logo {
    width: 316px;
  }
}

/*selector with attribute*/
img[alt="logo"] {
  width: 140px;
}
/*Id selector*/
#background_section {
  background: lightblue url("/assets/img/bg_w.jpg") no-repeat fixed center 2%;
  background-size: cover;
  height: 100vh; /* 100% of viewport height */
  margin: 0 auto;
  position: relative;
}
.or-sep {
  font-size: 20px;
  position: relative;
  padding-left: 40%;
  padding-top: 40%;
}

