/*Pseudo-element selector*/
body::before {
  content: "";
  position: fixed;
  background: #040404 url("../img/bg2.jpg") top right no-repeat;
  opacity: .25;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}
/*Combinators*/
.navbar-nav>li>a {
  font-size: 20px;
  padding-top: 20px;
}
/*Class  selector*/
.navbar-toggle {
  position: relative;
  padding: 16px 13px;
}
/*Responsive*/
@media (max-width: 450px) {
  .cba-logo {
    width: 316px;
  }
}
/*Pseudo-class selector*/
/*Id selector*/
img[alt="logo"] {
  width: 140px;
}
