
/* Стили для контейнера */
.container_img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Высота контейнера */
}

/* Стили для картинки */
.image {
  display: block;
  margin: 0 auto;
  width: 200px; /* Ширина картинки */
}
.symbols_size {
  font-size: 30px;
}

html {
  scroll-behavior: smooth;
}
.active {
  background-color: yellow; /* Измените на нужный вам цвет подсветки */
  transition: background-color 0.3s ease; /* Измените значение 0.5s на желаемую продолжительность перехода */
}